@keyframes fade-in-top {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

@keyframes appearing {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (orientation: portrait) {

    body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        display: flex;
        scroll-behavior: smooth;
    }

    h1::after {
        content: "CHANGE VIEW TO LANDSCAPE";
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        font-size: 5vw;
        text-shadow: 2px 2px 4px rgba(252, 249, 249, 0.5);
        font-family: 'Barlow Condensed', sans-serif;
        color: black;
        z-index: 20;
        /* Ensure it's on top of other content */
    }

    h1 {

        content: "Initial Text";
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        font-size: 5vw;
        text-shadow: 2px 2px 4px rgba(252, 249, 249, 0.5);
        font-family: 'Barlow Condensed', sans-serif;
        color: black;
        z-index: 20;
        /* Ensure it's on top of other content */
    }

    p {
        visibility: hidden;
        margin-top: 20vw;
        animation: appearing 10s ease;
        position: relative;
        font-size: 2vw;
        text-shadow: 2px 2px 4px rgba(252, 249, 249, 0.5);
        font-family: 'Barlow Condensed', sans-serif;
        color: black;
    }

    section {
        text-align: center;
        background-color: #FFF;
        position: absolute;
        display: flex;
        background-position: center;
        align-content: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 100%;
    }

    .video {
        visibility: hidden;
        opacity: 0.8;
        display: block;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 20;
        width: 80vw;
        height: 120vh;
        object-fit: cover;
    }
}

@media screen and (orientation: landscape) {

    *,
    ::after,
    ::before {
        box-sizing: border-box;
    }

    .video-clicked {
        animation: fade-in-top 15s ease;
        opacity: 1;
        /* Ensure opacity is set to 1 to start the animation */
    }

    body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        display: flex;
        scroll-behavior: smooth;
    }

    h1::after {
        content: "Welcome to my website Ma'am Mace Espiritu";
        animation: fade-in-top 1.5s ease;
        position: absolute;
        z-index: 22;
        display: block;
        font-size: 2vw;
        text-shadow: 2px 2px 4px rgba(252, 249, 249, 0.5);
        font-family: 'Barlow Condensed', sans-serif;
        color: black;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    p {
        margin-top: 20vw;
        animation: appearing 10s ease;
        position: absolute;
        bottom: 0;
        z-index: 22;
        left: 50%;
        transform: translateX(-50%);
        font-size: 1.3vw;
        text-shadow: 2px 2px 4px rgba(252, 249, 249, 0.5);
        font-family: 'Barlow Condensed', sans-serif;
        color: black;
    }

    section {
        text-align: center;
        background-image: url('logo.png');
        background-color: #FFF;
        position: absolute;
        display: flex;
        background-position: center;
        align-content: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 100%;
    }

    .video {
        opacity: 0;
        display: block;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 20;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}