@keyframes fade-in-top {
    0% {
        opacity: 0;
        transform: translateY(-200px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }

}

@keyframes appearing {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (min-width: 768px) {

    *,
    ::after,
    ::before {
        box-sizing: border-box;
    }

    body {
        margin: 0;
        padding: 0;
        width: auto;
        overflow-x: hidden;
        overflow-y: hidden;
        scroll-behavior: smooth;
    }

    h1 {
        z-index: 5;
        animation: fade-in-top 1.5s ease;
        position: relative;
        display: block;
        font-size: 5vw;
        text-shadow: 2px 2px 4px rgba(252, 249, 249, 0.5);
        font-family: 'Barlow Condensed', sans-serif;
        color: white;
    }

    p {
        z-index: 6;
        animation: appearing 10s ease;
        position: relative;
        text-align: center;
        font-size: 2vw;
        bottom: -18vw;
        text-shadow: 2px 2px 4px rgba(252, 249, 249, 0.5);
        font-family: 'Barlow Condensed', sans-serif;
        color: white;
    }

    section {
        text-align: center;
        background-image: url('design-a.svg');
        background-color: #545454;
        position: absolute;
        z-index: 4;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }

    .left-image {
        top: 10vw;
        right: 20vw;
        border-radius: 2vw;
        display: flex;
        position: absolute;
        width: 17vw;
        height: 22vw;
    }

    .right-image {
        top: 10vw;
        left: 20vw;
        border-radius: 2vw;
        display: flex;
        position: absolute;
        width: 17vw;
        height: 22vw;
    }
}

@media screen and (max-width: 767px) {

    *,
    ::after,
    ::before {
        box-sizing: border-box;
    }

    body {
        margin: 0;
        padding: 0;
        width: auto;
        height: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
        scroll-behavior: smooth;
    }

    h1 {
        z-index: 5;
        animation: fade-in-top 1.5s ease;
        position: relative;
        display: block;
        font-size: 5vw;
        text-shadow: 2px 2px 4px rgba(252, 249, 249, 0.5);
        font-family: 'Barlow Condensed', sans-serif;
        color: white;
    }

    p {
        z-index: 6;
        animation: appearing 10s ease;
        position: relative;
        text-align: center;
        font-size: 2vw;
        bottom: -70vw;
        text-shadow: 2px 2px 4px rgba(252, 249, 249, 0.5);
        font-family: 'Barlow Condensed', sans-serif;
        color: white;
    }

    section {
        text-align: center;
        background-image: url('design-a.svg');
        background-color: #545454;
        position: absolute;
        z-index: 4;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }

    .left-image {
        top: 50vw;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 2vw;
        display: flex;
        position: absolute;
        width: 40vw;
        height: 55vw;
    }

    .right-image {
        bottom: 10vw;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 2vw;
        display: flex;
        position: absolute;
        width: 40vw;
        height: 55vw;
    }
}